.userPai.grid, .postsPai.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.userPai.list, .postsPai.list {
  display: block;
}

.user, .post {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 20px;
}